// .has-meta-validation-warnings button[aria-controls="validation-api:unified-validation-sidebar"] {
//     background-color: var(--a11y-light-yellow);
// }

// .has-meta-validation-errors button[aria-controls="validation-api:unified-validation-sidebar"] {
//     background-color: var(--a11y-light-red);
// }

.ba11y-sidebar-icon {
    padding: 2px 0;
}