.block-a11y-checks-settings {
    background-color: #1d2327;
    margin: 0 0 0 -20px;
    padding: 15px 15px 0 0;
}

.block-a11y-checks-settings-container {
    background-color: #f0f0f1;
    border-radius: 8px;
    padding: 20px 40px;
}

body.toplevel_page_block-a11y-checks,
body[class*="block-checks_page_block-a11y-checks-"] {
    background-color: #1d2327;

    #wpfooter {
        color: #a3a3a3;

        a {
            color: #fff;
        }
    }
}