:root {
	--a11y-light-blue: #dfe9ee;
	--a11y-blue: #507a96;
	--a11y-black: #1d2327;
	--a11y-lightest-grey: #f7f7f7;
	--a11y-light-grey: #dadada;
	--a11y-medium-grey: #666;
	--a11y-red: #d82000;
	--a11y-light-red: #ffe4e0;
	--a11y-dark-red: #a21800;
	--a11y-yellow: #dbc900;
	--a11y-light-yellow: #fffde2;
	--a11y-dark-yellow: #807500;
    --a11y-border-width: 3px solid;
    --a11y-settings-space: 32px;
}