/* ERROR STYLES */

.a11y-block-error {
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 100%;
	padding: 50px;
	margin-left: -50px;
	background-color: #f7edec;
	border: 1px dashed #8b3122;
	border-radius: 5px;
	overflow: hidden;
}

.a11y-error-msg {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	text-align: center;
	color: white;
	background-color: #8b3122;
	border-radius: 5px;
	padding: 15px 20px;
	margin: -40px -40px 30px -40px;
}

/* Remove top spacing from block being wrapped */
.a11y-error-msg + * {
	margin-top: 0;
}

/* Remove bottom spacing from block being wrapped */
.a11y-block-error > *:last-child {
	margin-bottom: 0;
}

/* TODO: it's a mystery */
.a11y-block-error.wp-block-heading {
	padding-top: 0;
	padding-bottom: 0;
}
