.block-a11y-checks-settings {
	max-width: 1024px;
	background-color: white;
	margin: 30px 30px 30px 10px;
	border-radius: 8px;
	padding: 14px 32px;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

	h1 {
		color: #2f2f2f;
		padding-left: 1px;
		margin-bottom: 32px;
	}
}

.block-a11y-checks-settings-grid {
	display: grid;
	gap: 25px;
}

@media (min-width: 768px) {
	.block-a11y-checks-settings-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.block-a11y-checks-settings-field {
	display: flex;
	flex-direction: column;
	border: 1px solid #e6e6e6;
	background-color: rgba(#e6e6e6, 0.1);
	border-radius: 5px;
	padding: 20px 22px;

	h2 {
		color: #2f2f2f;
		margin: 0;
	}

	ul {
		margin: 0;
	}
}

.block-check-radio-options {
	display: flex;
	gap: 20px;
	align-items: center;
}

.block-a11y-checks-settings-form {
	p.submit {
		padding: 10px 0;
	}

	#submit {
		padding: 6px 16px;
	}
}
