.a11y-block-warning {
	padding: 15px;
	background-color: #f7f6ec;
	border-radius: 5px;
}

.a11y-warning-msg {
	margin-top: 0;
	color: #8b6d22;
	padding: 10px 10px 20px 10px;
	border-bottom: 2px solid #ffffff;
}

/* Remove top spacing from block being wrapped */
.a11y-warning-msg + * {
	margin-top: 0;
}

/* Remove bottom spacing from block being wrapped */
.a11y-block-warning > *:last-child {
	margin-bottom: 0;
}

/* TODO: it's a mystery */
.a11y-block-warning.wp-block-heading {
	padding-top: 0;
	padding-bottom: 0;
}
