:root {
	--ba11yc-white: #fff;
	--ba11yc-lightest-grey: #f7f7f7;
	--ba11yc-light-grey: #e8e8e8;
	--ba11yc-grey: #b9b9b9;
	--ba11yc-dark-grey: #474747;
	--ba11yc-black: #1d2327;
	--ba11yc-red: #d82000;
	--ba11yc-light-red: #ffe4e0;
	--ba11yc-dark-red: #a21800;
	--ba11yc-yellow: #f0dc00;
	--ba11yc-light-yellow: #fffde2;
	--ba11yc-dark-yellow: #807500;
}
