// /* Remove bottom spacing from block being wrapped */
// .ba11y-block-warning > *:first-child,
// .ba11y-block-error > *:first-child {
// 	margin-top: 0;
// }

// /* Remove bottom spacing from block being wrapped */
// .ba11y-block-warning > *:last-child,
// .ba11y-block-error > *:last-child {
// 	margin-bottom: 0;
// }
