// Block wrapper needs relative positioning for absolute indicator
.a11y-block-error,
.a11y-block-warning {
	position: relative;
}

// Inline block and meta field indicators
.ba11y-block-indicator,
.ba11y-meta-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 28px;
	height: 28px;
	z-index: 20;
	pointer-events: none;
}

// Inline block and meta field indicator buttons
.editor-visual-editor .ba11y-block-indicator-button.components-button,
.editor-visual-editor .ba11y-meta-indicator-button.components-button {
	pointer-events: all;
    position: absolute;
    min-width: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: var(--a11y-light-red);
	border: 1px dotted var(--a11y-red);
	cursor: pointer;
	transition: all 0.2s ease;

	svg {
        fill: var(--a11y-dark-red);
		width: 20px;
		height: 20px;
	}

	&:hover {
		background-color: var(--a11y-red);
        border: 1px solid var(--a11y-red);
        
        svg {
            fill: #fff;
        }
	}
}

// Inline block and meta field warning buttons
.editor-visual-editor .ba11y-block-indicator--warning .ba11y-block-indicator-button.components-button,
.editor-visual-editor .ba11y-meta-indicator--warning .ba11y-meta-indicator-button.components-button {
	background-color: var(--a11y-light-yellow);
	border-color: var(--a11y-dark-yellow);
	color: var(--a11y-dark-yellow);

	svg {
        fill: var(--a11y-dark-yellow);
        width: 22px;
        height: 22px;
	}

	&:hover {
		background-color: var(--a11y-dark-yellow);
        border: 1px solid var(--a11y-dark-yellow);
        
        svg {
            fill: #fff;
        }
	}
}

// Meta field wrapper needs relative positioning
.meta-field-error,
.meta-field-warning {
	position: relative;
	padding-top: 24px; // Make room for indicator
}