// .a11y-error-group,
// .a11y-warning-group {
// 	width: 100%;
//     padding: 12px 14px;
// 	border-top-left-radius: 0;
// 	border-top-right-radius: 0;
//     border-left: var(--a11y-border-width);
// 	border-top: none;
// }

// .a11y-warning-group {
//     background-color: var(--a11y-light-yellow);
//     border-color: var(--a11y-yellow);
// }

// .a11y-error-group {
// 	background-color: var(--a11y-light-red);
//     border-color: var(--a11y-red);
// }

// .a11y-warning-subheading,
// .a11y-error-subheading {
//     margin-bottom: 6px;
// }

// .a11y-warning-list + .a11y-warning-subheading,
// .a11y-error-list + .a11y-error-subheading {
//     padding-top: 10px;
// }

// .a11y-warning-subheading:first-of-type,
// .a11y-error-subheading:first-of-type {
//     margin-top: 0;
// }

// .a11y-error-list,
// .a11y-warning-list {
// 	margin: 0;
//     padding: 0 0 0 12px;
//     list-style: disc;
// }