.ba11y-errors-panel .components-panel__row + .components-panel__row,
.ba11y-warnings-panel .components-panel__row + .components-panel__row {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #e9e9e9;
}

.ba11y-error-group .ba11y-indicator-circle,
.ba11y-warning-group .ba11y-indicator-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.ba11y-error-group .ba11y-indicator-circle {
    background-color: var(--a11y-red);
}

.ba11y-warning-group .ba11y-indicator-circle {
    background-color: var(--a11y-yellow);
}

.ba11y-error-group,
.ba11y-warning-group {
    p, ul {
        line-height: 1.4;
        margin: 0;
    }

    ul {
        margin-left: 3px;
        padding: 4px 0 2px 14px;
    }

    li {
        padding: 6px 0;
        margin: 0;

        &:last-child {
            padding-bottom: 0;
        }
    }

    strong {
        font-weight: 500;
    }
}

.ba11y-error-group .ba11y-issue-link,
.ba11y-warning-group .ba11y-issue-link {
    cursor: pointer;
    font-weight: 500;
    padding: 0 0 0 4px;
    margin: 0;
    border: none;
    background: none;

    &:hover {
        text-decoration: underline;
    }
}

// .ba11y-error-group .ba11y-issue-link {
//     color: var(--a11y-red);
// }

// .ba11y-warning-group .ba11y-issue-link {
//     color: var(--a11y-dark-yellow);
// }