// Validation Header Button styles

.ba11y-validation-header-button {
	position: relative;

	.ba11y-badge {
		display: inline-block;
		min-width: 18px;
		height: 18px;
		padding: 0 6px;
		margin-left: 8px;
		// background-color: var(--a11y-red);
        background-color: rgb(15, 164, 15);
		color: #fff;
		border-radius: 9px;
		font-size: 11px;
		font-weight: 600;
		line-height: 18px;
		text-align: center;
		vertical-align: middle;
	}
}

