// Plugin Sidebar Icon Styles

.has-meta-validation-warnings button[aria-controls="validation-api:validation-sidebar"].is-pressed {
    background-color: var(--a11y-light-yellow);
    transition: background-color 0.2s ease;
}

.has-meta-validation-errors button[aria-controls="validation-api:validation-sidebar"].is-pressed {
    background-color: var(--a11y-light-red);
    transition: background-color 0.2s ease;
}

.has-meta-validation-warnings button[aria-controls="validation-api:validation-sidebar"].is-pressed:hover {
    background-color: var(--a11y-light-yellow);
    transition: background-color 0.2s ease;
}

.has-meta-validation-errors button[aria-controls="validation-api:validation-sidebar"].is-pressed:hover {
    background-color: var(--a11y-light-red);
    transition: background-color 0.2s ease;
}

.ba11y-sidebar-icon {
    padding: 2px 0;
}
