@use './styles/admin/body-classes';
@use './styles/admin/settings';

:root {
	--a11y-light-blue: #dfe9ee;
	--a11y-blue: #507a96;
	--a11y-black: #1d2327;
	--a11y-lightest-grey: #f0f0f1;
	--a11y-light-grey: #dadada;
	--a11y-medium-grey: #666;
    --a11y-red: #d82000;
}