@use './styles/panel-messages';
@use './styles/block-icon';

:root {
	--a11y-red: #d82000;
	--a11y-yellow: #dbc900;
	--a11y-light-red: #ffe4e0;
	--a11y-light-yellow: #fffde2;
    --a11y-border-width: 3px solid;
}
